[submodule "packages/submodules/react-components"]
	path = packages/submodules/react-components
	#url = git@github.com:megotickets/react-components.git
	url = https://github.com/megotickets/react-components.git
